<div class="File">
  <h2>Search Results</h2>
  <h3>{{info}}</h3>
  <form id="form">
    <label>Add files here:
      <input type="file" name="test" id="test" (change)="displayResults($event.target.files)" />
    </label>
  </form>
  <div id="result" *ngFor="let content of fileContents; index as i">
      <h2> <input type="checkbox" (click)="updateInfo(i)">  {{content.title}}</h2>
      <a href="{{content.url}}">{{content.url}}</a>
      <p>{{content.description}}</p>
  </div>
  <button class="btn btn-primary" (click)="submit()">Download as JSON</button>
  <button class="btn btn-primary" (click)="submitCSV()">Download as CSV</button>
  <button class="btn btn-primary" (click)="submitXML()">Download as XML</button>
</div>