<div id="content">
  <p>Search <input id="searchInput" type="text" [(ngModel)]="query"></p>
  <button class="btn btn-primary" (click)="getSearchResults()"> Search </button>
  <div id="result" *ngFor="let content of fileContents; index as i">
    <h2> <input type="checkbox" (click)="updateInfo(i)">  {{content.title}}</h2>
    <a href="{{content.formattedUrl}}">{{content.formattedUrl}}</a>
    <p>{{content.snippet}}</p>
  </div>
  <br />
  <div *ngIf="fileContents.length > 0">
    <button class="btn btn-primary" (click)="submit()">Download as JSON</button>
    <button class="btn btn-primary" (click)="submitCSV()">Download as CSV</button>
    <button class="btn btn-primary" (click)="submitXML()">Download as XML</button>
  </div>
</div>