<h1>Search And Reporting Application</h1>

<!-- The navigation menu -->
<nav class="nav bg-light">
  <a href="index.html" class="nav-link">Home</a>
  <div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" id="search" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">Search </a>
    <div class="dropdown-menu" aria-labelledby="search">
      <a [routerLink]="['/phase2']" class="dropdown-item">Phase 2</a>
      <a [routerLink]="['/phase3']" class="dropdown-item">Phase 3</a>
      <a [routerLink]="['/phase4']"class="dropdown-item">Phase 4</a>
      <a [routerLink]="['/phase5']" class="dropdown-item">Phase 5</a>
    </div>
  </div>
  <a [routerLink]="['/browser']" class="nav-link">Browser</a>
  <div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" id="course" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">Course </a>
    <div class="dropdown-menu" aria-labelledby="course">
      <a href="https://learn.zybooks.com/" class="dropdown-item">Zybooks</a>
    </div>
  </div>
  <div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" id="about" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">About</a>
    <div class="dropdown-menu" aria-labelledby="about">
      <a href="https://JoeyCheung.github.io" class="dropdown-item">Joey Cheung</a>
      <a href="https://github.com/dave325" class="dropdown-item">David Dataram</a>
      <a [routerLink]="['/contactUs']" class="dropdown-item">Contact us</a>
    </div>
  </div>
</nav>